<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->














<div style="display:flex">
  <img src="assets/img/logo.png" style="border-radius: 150px;border: solid;border-color:white; box-shadow:
  0 0 20px 10px #fff;height: 150px; margin-top: 25px;margin-left: 45px;">
  <app-search-bar style="width: 100%;margin-top: 50px;margin-right: 150px;"></app-search-bar> 
</div>

<div style="display:flex">
  <div class="container p-5 my-5 border" style="background-color:blue;color:grey;width: 300px;height: 450px;margin-left: 100px;">
  </div>
  <div class="container p-5 my-5 border">
    <h1>Info film</h1>
    <p>This container has a border and some extra padding and margins.</p>
  </div>
</div>

<div class="container p-5 my-5 bg-dark text-white">
  <h1>My First Bootstrap Page</h1>
  <p>This container has a dark background color and a white text, and some extra padding and margins.</p>
</div>

<div class="container p-5 my-5 bg-primary text-white">
  <h1>My First Bootstrap Page</h1>
  <p>This container has a blue background color and a white text, and some extra padding and margins.</p>

</div>

<div class="row">
  <div class="col-sm-3 bg-success bg-gradient text-white">Hello</div>
  <div class="col-sm-3 bg-info">Hello</div>
  <div class="col-sm-3 bg-danger bg-gradient text-white">Hello</div>
  <div class="col-sm-3 bg-secondary">Hello</div>
</div>
<app-footer></app-footer>







<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
