<div class="main-container">
    <!--<div class="scrollbar">a</div>-->
    <div class="sub-container">




      <div class="d-inline-flex item">
          <button onclick="myFunction()">
            <img src="assets/img/play-button.png"/>
          </button>
        <div style="margin-left:3%" class="d-flex flex-column w-100" >
          <h5 class="w-75"style="position:relative; left:12%">Name</h5>
          <div id="music-bar"class="d-flex align-items-center">
            <span class="time">0:00</span>
            <input style="margin-left:2%; margin-right:2%; border-radius:20px" type="range" min="0" max="100">
            <span class="time">0:00</span>
          </div>
        </div>
      </div>



      <div class="d-inline-flex item">
          <button onclick="myFunction()">
            <img src="assets/img/play-button.png"/>
          </button>
        <div style="margin-left:3%" class="d-flex flex-column w-100" >
          <h5 class="w-75"style="position:relative; left:12%">Name</h5>
          <div id="music-bar"class="d-flex align-items-center">
            <span class="time">0:00</span>
            <input style="margin-left:2%; margin-right:2%; border-radius:20px" type="range" min="0" max="100">
            <span class="time">0:00</span>
          </div>
        </div>
      </div>

      <div class="d-inline-flex item">
          <button onclick="myFunction()">
            <img src="assets/img/play-button.png"/>
          </button>
        <div style="margin-left:3%" class="d-flex flex-column w-100" >
          <h5 class="w-75"style="position:relative; left:12%">Name</h5>
          <div id="music-bar"class="d-flex align-items-center">
            <span class="time">0:00</span>
            <input style="margin-left:2%; margin-right:2%; border-radius:20px" type="range" min="0" max="100">
            <span class="time">0:00</span>
          </div>
        </div>
      </div>

      <div class="d-inline-flex item">
          <button onclick="myFunction()">
            <img src="assets/img/play-button.png"/>
          </button>
        <div style="margin-left:3%" class="d-flex flex-column w-100" >
          <h5 class="w-75"style="position:relative; left:12%">Name</h5>
          <div id="music-bar"class="d-flex align-items-center">
            <span class="time">0:00</span>
            <input style="margin-left:2%; margin-right:2%; border-radius:20px" type="range" min="0" max="100">
            <span class="time">0:00</span>
          </div>
        </div>
      </div>

      <div class="d-inline-flex item">
          <button onclick="myFunction()">
            <img src="assets/img/play-button.png"/>
          </button>
        <div style="margin-left:3%" class="d-flex flex-column w-100" >
          <h5 class="w-75"style="position:relative; left:12%">Name</h5>
          <div id="music-bar"class="d-flex align-items-center">
            <span class="time">0:00</span>
            <input style="margin-left:2%; margin-right:2%; border-radius:20px" type="range" min="0" max="100">
            <span class="time">0:00</span>
          </div>
        </div>
      </div>

      <div class="d-inline-flex item">
          <button onclick="myFunction()">
            <img src="assets/img/play-button.png"/>
          </button>
        <div style="margin-left:3%" class="d-flex flex-column w-100" >
          <h5 class="w-75"style="position:relative; left:12%">Name</h5>
          <div id="music-bar"class="d-flex align-items-center">
            <span class="time">0:00</span>
            <input style="margin-left:2%; margin-right:2%; border-radius:20px" type="range" min="0" max="100">
            <span class="time">0:00</span>
          </div>
        </div>
      </div>

    </div>
  </div>
