<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Rechercher un film..." [(ngModel)]="searchTerm" name="search" type="text" (input)="onSearch()" list="datalistOptions">
          <button class="btn btn-primary" type="submit">
            <i class="bi bi-search"></i> Rechercher
          </button>
        </div>
      </div>
    </div>
  </form>
</div>


<datalist id="datalistOptions"></datalist>
