<div class="container pt-2">

  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-6">

      <div class="form" >
        <i class="fa fa-search"></i>
        <div>
          <form (ngSubmit)="onSubmit()">
            <input [(ngModel)]="searchTerm" name="search" type="text" placeholder="Search">
            <button type="submit">Search</button>
          </form>
          <app-synopsis [synopsis]="synopsis"></app-synopsis>
        </div>
               
        <datalist id="datalistOptions">
          <option value="Avatar 2"></option>
          <option value="Interstellar"></option>
          <option value="Joker"></option>
          <option value="Babylon"></option>
        </datalist>
        <span class="left-pan"><i class="fa fa-microphone"></i></span>
      </div>

    </div>

  </div>
  <ul>
    <li *ngFor="let movie of movies">
      {{ movie.title }}
    </li>
  </ul>
</div>
