<div class="main-container">
  <!--<div class="scrollbar">a</div>-->
  <div class="sub-container">
    <div class="item">
      <img src="assets/img/unknown.jpg">
    </div>
    <div class="item">
      <img src="assets/img/unknown.jpg">
    </div>
    <div class="item">
      <img src="assets/img/unknown.jpg">
    </div>
    <div class="item">
      <img src="assets/img/unknown.jpg">
    </div>
    <div class="item">
      <img src="assets/img/unknown.jpg">
    </div>
    <div class="item">
      <img src="assets/img/unknown.jpg">
    </div>

  </div>
</div>
