<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<script src="https://apis.google.com/js/api.js"></script>



<div class="d-lg-flex p-2 flex-row justify-content-between topArea" id="search-barArea">
  <img  class="logo" src="assets/img/logo.png"/>
  <div class="w-100 h-25 align-self-center centered">
    <app-search-bar></app-search-bar>
  </div>
</div>


<div class="flex-lg-column p-5 justify-content-evenly d-none" id="middel">
  <div class="container">
  <div class="row justify-content-evenly">


    <div class="col-md-4 p-2">
      <app-card id="card" style="display: none;"></app-card>
    </div>

    <div class="col-md-4 p-2">
      <div class="row mb-2">
        <div class="col">
          <app-synopsis id="synopsis_container" style="display: none"></app-synopsis>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-music-playlist id="actors" style="display: none"></app-music-playlist>
        </div>
      </div>

    </div>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-md-auto" id="trailer">
      <div class="embed-responsive embed-responsive-16by9">
        <app-youtube-player id="yt" style="display: none"></app-youtube-player>
      </div>

    </div>
</div>
</div>
</div>
<app-footer class="fixed-bottom"></app-footer>










<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
