<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<script src="https://apis.google.com/js/api.js"></script>














<div style="display:flex">
  <img src="assets/img/logo.png" class="img-fluid m-2 float-start rounded-circle" style="max-height: 100px; border-color: white">
  <app-search-bar style="width: 100%;margin-top: 50px;margin-right: 150px;"></app-search-bar>
</div>


<div class="container mt-4">
  <div class="row justify-content-evenly">


    <div class="col-md-4 p-2">
      <app-card id="card" style="display: none;"></app-card>
    </div>

    <div class="col-md-4 p-2">
      <div class="row mb-2">
        <div class="col">
          <app-synopsis id="synopsis_container" style="display: none"></app-synopsis>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-music-playlist id="actors" style="display: none"></app-music-playlist>
        </div>
      </div>

    </div>
  </div>
  <div class="row row-cols-3">
    <div class="col">

    </div>
    <div class="col" id="trailer">

    </div>
    <div class="col">

    </div>

  </div>
</div>

<app-youtube-player></app-youtube-player>

<app-footer></app-footer>







<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
