<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->






<div style="display:flex align-self-center">
  <img src="assets/img/logo.png" class="img-fluid m-2 float-start rounded-circle" style="max-height: 100px; border-color: white">
  <app-search-bar style="width: 100%;margin-top: 50px;margin-right: 150px; "></app-search-bar>
</div>


<div class="container mt-4">
  <div class="row">


    <div class="col-md-4 p-2 m-1" style="background: linear-gradient(90deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%);">
      <app-card></app-card>
    </div>
    <div class="col-md-4 p-2 align-self-start bg-black">
      <div class="row mb-2">
        <div class="col">
          <app-synopsis></app-synopsis>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <app-music-playlist></app-music-playlist>
          </div>
      </div>

    </div>

  </div>

</div>

<app-footer></app-footer>








<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
