
  <div class="p-2" style="height: 100%; border: 5px solid white; display: flex; flex-direction: column; justify-content: space-between" >
    <p class="text-white fw-bold h6">Synopsis de Jaws : WOW SO IMPRESSIVE!!!!</p>
    <p class="h-25 text-white">Dans un proche futur, la Terre est devenue hostile pour l'homme. Les tempêtes de sable sont fréquentes
      et il n'y a plus que le maïs qui peut être cultivé, en raison d'un sol trop aride.
    </p>
    <p class="h-25 text-white">
      Cooper est un pilote, recyclé en agriculteur,
      qui vit avec son fils et sa fille dans la ferme familiale.
    </p>
    <p class="h-25 text-white" *ngFor="let movie of MovieDetails; let i = index">
      {{movie.actor}}
      {{movie.realisator}}
    </p>

  </div>

